# Dependency directories
node_modules/

# Dotenv environnement
.env
.env.*

# fichiers de logs
logs/
*.log

# code compilé
dist/
build/

# compte firebase
firebase-service-account.json

#fichier sequelize pour reconnaissance  de chemin
.sequelizerc